[user]
    name = Vilmantas S.
    email = vilmis04@users.noreply.github.com



# Other possible Git configurations:
# - Set the default editor (nano, VS Code, etc.)
# - Customize color output
# - Create aliases (shortcuts for Git subcommands)
# - Add enpoint shortcuts for commonly used URLs